
#sex-input {
	padding: 0;
	width: 205px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

#help-icon {
	height: 44px;
}

#image img {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}